version: '3.8'

services:
  db:
    image: postgres:17
    container_name: db

    volumes:
      - db-data:/var/lib/postgresql
    environment:
      POSTGRES_SCHEMA: metadata

      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8085:80"
    networks:
      - dev_nbgi

networks:
  dev_nbgi:
    name: dev_nbgi
    driver: bridge
volumes:
  db-data: